.skilled-team{
    padding: 60px 0px;
}
.skilled-box__title-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.skilled-box__span{
    font-weight: 700;
    color: #0000008e;
}
.skilled-box__title{
    font-size: 35px;
    letter-spacing: 6px;
}
.skilled-box__list{
    width: 100%;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.skilled-box__item a img{
    // width: 269px;
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 1098px) {
    .skilled-box__item:last-child{
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    .skilled-box__item:nth-child(4){
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .skilled-box__item{
        width: 100%;
    }
    .skilled-box__item:nth-child(3){
        display: none;
    }
}

@media only screen and (max-width: 616px) {
    .skilled-box__item:nth-child(2){
        display: none;
    }
    .skilled-box__title{
        font-size: 25px;
    }
}
@media only screen and (max-width: 375px) {
    .skilled-box__title{
        text-align: center;
    }
}